body {
  background: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.app {
  max-width: 350px;
  margin: auto;
  padding-top: 50px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

.amounts button {
  background: #222;
  color: white;
}

button:last-child {
  width: 100%;
  background: lime;
  color: black;
}
